# directories
.coverage
.ignore
cjs
esm
node_modules
e2e/mnt/mockFiles
**/cypress/fixtures
**/cypress/screenshots
**/cypress/video

# files
*.log
.creds-docker
yarn.lock
e2e/mnt/data/config.json
e2e/mnt/data/file-cache.json
